<!-- Header-->
<app-header *ngIf="!router.url.includes('admin')"></app-header>

<!-- Nội dung chính -->
<router-outlet></router-outlet>

<!-- Footer -->
<app-footer *ngIf="!router.url.includes('admin')"></app-footer>

<!-- Bong bóng chat Muse -->
<app-chat-widget *ngIf="!router.url.includes('admin')"></app-chat-widget>

<!-- Popup chào mừng -->
<app-welcome-popup *ngIf="!router.url.includes('admin')"></app-welcome-popup>

<!-- Nút cuộn lên đầu trang -->
<app-back-top *ngIf="!router.url.includes('admin')"></app-back-top>

<!-- <div class="admin-layout"> -->

    <!-- Sidebar -->
    <!-- <app-ad-sidebar></app-ad-sidebar> -->

    <!-- Nội dung -->
    <!-- <div class="main-content"><router-outlet></router-outlet></div> -->

<!-- </div> -->