<!-- BANNER -->
<!-- BANNER -->
<div class="banner-slider">
  <div *ngFor="let banner of banners"
       (click)="goToBannerLink(banner.link)"
       style="cursor: pointer;">

    <img
      [src]="getImageUrl(banner.image)"
      [alt]="banner.title"
    >

  </div>

  <button class="prev" (click)="prev()">&#10094;</button>
  <button class="next" (click)="next()">&#10095;</button>
</div>

<!-- SẢN PHẨM MỚI -->
<section class="product-section">
  <h2 class="section-title">SẢN PHẨM MỚI</h2>

  <div class="product-placeholder">

    <button class="prev-new" *ngIf="showPrev" (click)="prevNewProducts()">
      &#10094;
    </button>

    <div class="product-row">
      <div class="product-item-wrapper" *ngFor="let product of newProductsDisplay"
        (click)="goToProductDetail(product._id)" style="cursor: pointer;">
        <app-product [product]="product" [routerLink]="['/productdetail', product._id]"></app-product>
      </div>
    </div>

    <button class="next-new" *ngIf="showNext" (click)="nextNewProducts()">
      &#10095;
    </button>

  </div>
</section>

<!-- DANH MỤC -->
<section class="category-section">
  <h2 class="section-title">DANH MỤC SẢN PHẨM</h2>

  <div class="category-placeholder">
    <div class="category-row">

      <a class="category-card" *ngFor="let cat of categories" (click)="goToCategory(cat._id)">

        <div class="category-image-container">

          <!-- ẢNH CATEGORY TỪ DATABASE -->
          <img [src]="getCategoryImage(cat, 0)" class="primary-img">
          <img [src]="getCategoryImage(cat, 1)" class="secondary-img">

        </div>

        <h3>{{ cat.name }}</h3>
        <!-- <p class="category-desc">{{ cat.description }}</p> -->
      </a>

    </div>
  </div>
</section>

<!-- TOÀN BỘ SẢN PHẨM -->
<section class="all-products">
  <h2 class="section-title">TOÀN BỘ SẢN PHẨM</h2>

  <div class="product-placeholder">

    <div class="product-grid">
      <div class="product-item-wrapper" *ngFor="let product of allProductsDisplay"
        (click)="goToProductDetail(product._id)" style="cursor: pointer;">
        <app-product [product]="product"></app-product>
      </div>
    </div>
    <button class="see-more" *ngIf="hasMoreProducts()" (click)="loadMoreProducts()">
      Xem thêm
    </button>
  </div>
</section>